@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: var(--font-poppins);
}
 
h1 {
  font-family: var(--font-mochiy-pop);
}

.hero {
 background: linear-gradient(to top, transparent 0%, #0000006f 90%); 
}

.linear-gradient {
  background: linear-gradient(to top, #000000c2 0%, transparent 40%); 
 }